html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }

.mainNav {
  height: 100%;
  display: block; }

.nav {
  position: fixed;
  float: left;
  margin-top: 70px;
  margin-left: 20px;
  height: 100%; }
  .nav h1 {
    margin-left: 13px;
    font-size: 40px;
    margin-bottom: 40px; }
  .nav li {
    font-size: 14px; }
  .nav ul {
    list-style: none;
    padding: 0px; }
  .nav a {
    color: grey; }
  .nav #private {
    color: red; }

.rightSide {
  width: 65%;
  padding: 0px;
  height: 100%; }

#yourElement {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite; }

form {
  margin-top: 200px; }

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
  margin: 0px !important; }

.bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
  margin: 0 auto !important; }

#bxslider {
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0 auto !important; }
  #bxslider img {
    height: 100vh;
    width: 100%; }

.bio {
  text-align: justify;
  text-justify: inter-word; }
  .bio img {
    height: 280px;
    width: 220px; }

.paintings {
  margin-right: 5%;
  margin-bottom: 5%; }
  .paintings img {
    display: inline;
    height: 250px;
    width: 250px; }

#title {
  margin-bottom: 20px; }

div.panel {
  padding: 8px 18px;
  background-color: white;
  border-style: none;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  color: grey; }

.panel {
  border-style: none !important;
  box-shadow: none !important; }

#selected {
  margin: 0 0 10px; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: grey;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }
