body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }

.nav {
  float: left;
  margin-top: 70px;
  margin-left: 20px; }
  .nav h1 {
    margin-left: 13px;
    font-size: 40px;
    margin-bottom: 40px; }
  .nav li {
    font-size: 14px; }
  .nav a {
    color: grey; }
  .nav #private {
    color: red; }

.rightSide {
  width: 950px; }

#yourElement {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite; }

form {
  margin-top: 200px; }

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
  margin: 0px !important; }

.bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important; }

#bxslider {
  margin: 0px;
  padding: 0px; }
  #bxslider img {
    height: 770px;
    width: 100%; }

.bio {
  text-align: justify;
  text-justify: inter-word; }
  .bio img {
    height: 280px;
    width: 220px; }

.paintings {
  margin-right: 5%;
  margin-bottom: 5%; }
  .paintings img {
    display: inline;
    height: 250px;
    width: 250px; }

#title {
  margin-bottom: 20px; }
