<h1>bio</h1>
<br>

<div class="bio col-md-12">
  <img src="/images/Ken.jpg" alt="">
  <h3>Ken Neiheisel (b.1958) is a multidisciplinary artist based in Austin, Texas. <br><br>He studied fine art and commercial graphic design and spent his professional career in design, illustration and photography.
Inspired by intuition, Ken creates abstract expressions utilizing acrylic, mixed media, wood and metal. His artwork celebrates the freedom of movement, change, and disentanglement. He wants his expressions to be an experience and visual reminder of what is most important in life to aspire to.
<br><br>
His work resides in many personal art collections and has been exhibited in group exhibitions throughout North America.
  </div>
