<h1>bio</h1>
<br>

<div class="bio col-md-12">
  <img src="/images/ken.jpg" alt="">
  <h3>Ken Neiheisel (b.1958) is an abstract expressionist painter based in Austin, Texas.  He studied fine art and commercial graphic design and spent his professional career in design, illustration and photography. He is a multidisciplinary artist in painting, sculpture, mixed media and photography.<br><br>
His work resides in many personal art collections and has been exhibited in group exhibitions in North America.<br><br>
Inspired by intuition, Ken creates abstract expressions utilizing acrylic, mixed media, wood and metal. His artwork celebrates the freedom of movement, change, and disentanglement. He wants his expressions to be an experience and visual reminder of what is most important in life to aspire to.</h3>
  </div>
