
<div class="row">
<h3 id="title">Paintings:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/2.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/3.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/4.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/5.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/6.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/7.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/8.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/9.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/10.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/11.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/12.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/13.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/14.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/15.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/16.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/17.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/18.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/19.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/20.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/21.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/22.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/23.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/24.jpeg">
</div>
</div>
<!-- <div class="col-md-3 paintings" ng-repeat="images in vm.image">
<h1><img class="image" src= "{{images.url}}"> </h1>
</div>
</div> -->


<div class="row">
<h3 id="title">Sculpture:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/sculpture/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/sculpture/2.jpg">
</div>
<!-- <div class="col-md-3 paintings" ng-repeat="images in vm.image | filter:{category: 'Charcoal'}">
<h1><img class="image" src= "{{images.url}}"> </h1>
</div> -->
</div>

<div class="row">
<h3 id="title">Paper:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/2.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/3.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/4.jpeg">
</div>
</div>

<div class="row">
<h3 id="title">Works on Wood:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/2.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/3.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/4.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/5.jpg">
</div>

</div>
