<div class="row">
<h3 id="title">recent work - hieroglyphics:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/hieroglyphics/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/hieroglyphics/2.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/hieroglyphics/3.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/hieroglyphics/4.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/hieroglyphics/5.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/hieroglyphics/6.jpg">
</div>

</div>
