<h1>news</h1>
<br>



<h4>
Selected Works 2016 – 2017<br>

Paper - Wood - Canvas<br><br>

@ Thai Fresh - 909 W Mary St, Austin TX 78704<br><br>

November 1st thru December 31st, 2018<br><br>

Opening Reception - Meet the Artist: Thursday November 1st 6:00 PM - 8:00 PM<br><br>



thai-fresh.com
<br><br>


My studio is located at 641 Tillery Street  Austin, Texas 78702<br>
2nd floor of Hatch Workshop / Harvest Lumber Co.<br>
<br>

<a href="http://east.bigmedium.org/">http://east.bigmedium.org/</a></h4>
