<h1>news</h1>
<br>



<h4>
East Austin Studio Tour<br>
November 16-17 &  23-24, 2019<br>
Noon to 6 each day<br>
641 Tillery St. (Loft above Harvest Lumber)<br>
Austin, TX
<br><br>
Artist Interview - <a href="http://voyagehouston.com/interview/check-ken-neiheisels-artwork/"> http://voyagehouston.com/interview/check-ken-neiheisels-artwork/
</a>
<br><br><br>


My studio is located at 641 Tillery Street  Austin, Texas 78702<br>
2nd floor of Harvest Lumber Co.<br>
<br>

<a href="http://east.bigmedium.org/">http://east.bigmedium.org/</a>
</h4>
