<div class="row">
<h3 id="title paintingsTitle">paintings:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/2.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/3.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/4.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/5.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/7.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/8.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/9.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/10.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/11.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/19.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/21.jpg">
</div>
</div>
