<div class="row">
<h3 id="title">paper:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/2.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/3.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/paper/4.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/22.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/23.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/24.jpeg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/16.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/12.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/13.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/14.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/6.jpg">
</div>
</div>
