<div class="row">
<h3 id="title">sculpture:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/sculpture/1.jpg" onclick="openModal();currentSlide(1)" alt="This is 1">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/sculpture/2.jpg" onclick="openModal();currentSlide(2)">
</div>
<!-- <div class="col-md-3 paintings" ng-repeat="images in vm.image | filter:{category: 'Charcoal'}">
<h1><img class="image" src= "{{images.url}}"> </h1>
</div> -->
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">

      <img src="/images/sculpture/1.jpg" style="width:100%">
    </div>

    <div class="mySlides">

      <img src="/images/sculpture/2.jpg" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
