<div class="row">
<h3 id="title">works on wood:</h3>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/1.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/2.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/3.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/4.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/wood/5.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/17.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/18.jpg">
</div>
<div class="col-md-3 paintings">
<img class="image" src= "/images/painting/15.jpg">
</div>

</div>
